{% extends "base.html" %}
{% load humanize %}
{% load bootstrap %}
{% load markdown %}

{% block title %}{{ post.title }} | Charcha{% endblock %}

{% block content %}
{% spaceless %}
<div class="container-fluid">
  <div class="post">
      {% include "partials/post-vote-control.html" with obj_type='posts' obj=post %}
      <div>
          <div class="post-title">
            <h1>{{ post.title }}</h1>
          </div>
          <div class="post-line-2">
            <div class="post-score">
               by {{ post.author.username }} | 
              {{ post.score }} point{{ post.score | pluralize }} | 
              {{ comments|length }} comment{{ comments | length | pluralize }} |
              {{ post.submission_time | naturaltime }}
              {% if request.user.is_staff %}
              | <a href="{% url 'admin:discussions_post_change' post.id %}">admin</a>
              {% endif %}
            </div>
          </div>
          {% if post.text %}
          <div class="post-text">
            <p>{{post.text | markdown}}</p>
          </div>
          {% endif %}
          <form method="post" action="">
            {% csrf_token %}
            {{ form | bootstrap }}
            <button type="submit" class="btn btn-default">Add Comment</button>
          </form>
      </div>
  </div>
  <div class="comments">
  {% for comment in comments %}
    <div id="comment-{{comment.id}}" class="comment indent-{{comment.indent}}">
      {% include "partials/post-vote-control.html" with obj_type='comments' obj=comment %}
      
      <div>
        <div class="comment-header">
          <span class="comment-author">
            by {{ comment.author.username }}
          </span>
          <span> | </span>
          <span>{{comment.score}} points</span>
          <span> | </span>
          <span class="comment-submission-time">{{ comment.submission_time | naturaltime }}</span>
          {% if request.user.username == comment.author.username %}
          <span> | </span>
          <span><a href="{% url 'edit_comment' comment.id %}">edit</a>
          {% endif %}
          <span> | </span>
          <span><a href="#comment-{{comment.id}}">permalink</a>
          {% if request.user.is_staff %}
            <span> | </span>
            <span>
              <a href="{% url 'admin:discussions_comment_change' comment.id %}">admin</a>
            </span>
          {% endif %}
        </div>
        <div class="comment-text">
          <p>
            {{ comment.text | markdown}}
          </p>
        </div>
        {% if comment.indent < 6 %}
        <a class="reply" href="{% url 'reply_to_comment' comment.id %}">reply</a>
        {% else %}
        <span><i>replies not allowed anymore</i></span>
        {% endif %}
      </div>
    </div>
  {% endfor %}
 </div>
</div>
{% endspaceless %}
{% endblock %}
