<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello spread sheet are you there</h1>

<iframe width="750" height="750" src="https://docs.google.com/spreadsheets/d/1QyCViWNUzXKZeW1u13cRhOUpFC-zjtcOA_RO4qLcu5g/edit?usp=sharing"></iframe>

<iframe width="750" height="750" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTOTEoMmaU87sXY2hrNjqFi_USfVGetli2adyT0loQ20tfF8GtUWDl0jHHbgoyqYWTadP5CPIWP_tBW/pubhtml?widget=true&amp;headers=false"></iframe>
</body>
</html>